REACT_APP_VIDEOSDK_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlrZXkiOiI2ZTZlNDA5NS1kYmFiLTQ4NGQtOThlNy00ZTMzZWQ1YzI5N2IiLCJwZXJtaXNzaW9ucyI6WyJhbGxvd19qb2luIl0sImlhdCI6MTcyMDk2NzgxMCwiZXhwIjoxNzI4NzQzODEwfQ.3vnYNZwPRp9t7GPDu2B0e4pwGys550hxIv1GW-Y57Os